{
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended"
  ],
  "settings": {},
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "amd": true,
    "browser": true,
    "es6": true
  },
  "plugins": [],
  "rules": {
    "require-jsdoc": [
      "error",
      {
        "require": {
          "FunctionDeclaration": true,
          "MethodDefinition": true,
          "ClassDeclaration": true,
          "ArrowFunctionExpression": true,
          "FunctionExpression": true
        }
      }
    ],
    "semi": [
      2,
      "never"
    ],
    "no-trailing-spaces": 2,
    "no-tabs": 2,
    "quotes": [
      2,
      "single"
    ],
    "array-bracket-spacing": [
      2,
      "always",
      {
        "singleValue": true,
        "objectsInArrays": false,
        "arraysInArrays": false
      }
    ],
    "object-curly-spacing": [
      2,
      "always",
      {
        "arraysInObjects": false,
        "objectsInObjects": false
      }
    ],
    "arrow-parens": [
      2,
      "always"
    ],
    "func-call-spacing": [
      2,
      "never"
    ],
    "space-before-function-paren": [
      2,
      "never"
    ],
    "space-before-blocks": [
      2,
      "always"
    ],
    "space-in-parens": [
      2,
      "always",
      {
        "exceptions": [
          "{}",
          "[]",
          "()",
          "empty"
        ]
      }
    ],
    "space-infix-ops": 2,
    "space-unary-ops": 2,
    "spaced-comment": [
      2,
      "always"
    ],
    "no-multi-spaces": [
      2,
      {
        "ignoreEOLComments": true
      }
    ],
    "keyword-spacing": 2,
    "no-async-promise-executor": 0
  }
}
